body {
    background-color: #F7F3E9;
}

.text-top {
    margin-top: 8%;
}  

.navbar {
    background-color: #ffdfdf;
}

.menubar {
    width: 100%;
}
.jumbotron{
    width: 100%;
    margin: 0;
}
.top-img {
    background-image: url("img/cake1.png");
    background-position: top;
}

.more-btn {
    background-color: #CE1F6A;
}


.img-thumbnail {
    width: 320px;
    height: 320px;
    padding: 3px;
    margin: 0px;
    object-fit: cover;
}

footer {
    height: 200px;
    background-color: #ffdfdf;
    text-align: center;
}

footer p {
    color: rgb(209, 115, 131);
}

footer .copyr {
    color: #919191;
}

footer .copyr a{
    text-decoration: none;
    color: #fdad2a;
}

footer .copyr a:hover{
    text-decoration: none;
    color: #da3e0f;
}

footer .btn {
    margin-left: 15px;
}


@media only screen and (max-width: 995px) {

    .text-top {
        font-size: smaller;
    }

    .logo {
        width: 50%;
    }

    .top-img {
        background-image: url("img/cake1.png");
        background-position: top;
        height: 300px;
    }

    .jumbotron{
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column-reverse;
    }


    footer {
    height: 150px;
    }

    .img-thumbnail {
        width: 220px;
        height: 220px;

    }

  }